on: [push]

jobs:
  hello_world_job:
    runs-on: ubuntu-24.04
    name: A job to say hello
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Hello world action step
        id: hello
        uses: ./.github/actions/hello/
        with:
          who-to-greet: 'Fiona the Donkey'
        #  my-title: 'Mrs'
      # Use the output from the `hello` step
      - name: Get the output greeting
        run: echo "The greeting was [${{ steps.hello.outputs.greeting }}]"
      - name: Get the output time
        run: echo "The time was [${{ steps.hello.outputs.time }}]"
      - name: Get the output hostname
        run: echo "The hostname was [${{ steps.hello.outputs.hostname }}]"
      - name: Get missing output value
        run: echo "The missing output was [${{ steps.hello.outputs.missing }}]"
